# default group
* @pcdshub/laser-sme @pcdshub/python-reviewers

# language-specific group(s)
## PYTHON files
*.py @pcdshub/laser-sme @pcdshub/python-reviewers
*.pyi @pcdshub/laser-sme @pcdshub/python-reviewers
*.pyc @pcdshub/laser-sme @pcdshub/python-reviewers
*.pyw @pcdshub/laser-sme @pcdshub/python-reviewers
*.pyx @pcdshub/laser-sme @pcdshub/python-reviewers
*.pyd @pcdshub/laser-sme @pcdshub/python-reviewers

# github folder holds administrative files
.github/** @pcdshub/software-admin
